@font-face {
	font-family: "Cantarell";
	src:
		local("Cantarell Regular"),
		local("Cantarell-Regular"),
		url("Cantarell-Regular.ttf");
}

@font-face {
	font-family: "Cascadia Code";
	src:
		local("Cascadia Code"),
		local("Cascadia-Code"),
		url("Cascadia.ttf");
}

@font-face {
  font-family: "Orkney Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Orkney"), local("Orkney Regular"), url("orkney-regular-webfont.woff") format("woff");
}

html, body {
	height: unset !important;
}

html {
  scrollbar-color: #f1935c #181d23;
  position: relative;
  min-height: 100%;
}

html::-webkit-scrollbar-track {
    background: #181d23;
}
html::-webkit-scrollbar-thumb {
    background-color: #f1935c;
}

body {
	background-color: #393e46;
	color: #ccc;
	font-family: "Cantarell", sans-serif;
}

::selection {
	color: #181d23;
	background: #f1935c;
}

h1, h2, h3, h4, h5, h6 {
	color: #eee;
}

.page-header {
	margin: 20px 0 0;
	padding:  0;
}

.page-header h1 {
	border-bottom: 2px dotted #eee;
	margin-bottom: 0;
	padding-bottom: 6px;
}

.page-header h4 {
	display: inline-block;
	margin-top: 0;
}

div.header-meta {
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-header h4::after {
	margin: 0px 0.4rem;
	content: "|";
	color: #7a7a7a;
}

.page-header h4:last-child::after {
	display: none;
}

strong {
	color: #d65a31;
}

a {
  text-decoration: none;
  color: #f1935c;
  transition: color .25s;
}

code a, a > code {
	 color: #f1935c !important;
}

a:hover, a:focus {
  color: #ffa16b;
}

nav.nav {
	position: sticky;
	top: 0px;
	z-index: 100;
}

.navbar-left {
  position: absolute;
  left: 10px;
/*  padding: 10px 10px;*/
  line-height: 1rem;
}

nav {
  width: 100%;
  padding: 0;
  z-index: 50;
  background-color: #222831;
  border-bottom: 5px solid rgba(0, 0, 0, 0.29);
  font-size: 1rem;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0px;
  text-align: center;
  font-family: "Orkney Regular", sans-serif;
}

.navbar a {
  color: #eee;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active:hover {
  color: #ff662a;
}

.navbar a.active {
  color: #ffa16b;
}

img.header-logo {
	height: 48px;
	width: 48px;
	margin-right: -8px;
	margin-top: -10px;
}

.navbar .brand-link {
	display: inline-block;
	text-shadow: 0 0 0 transparent;
	padding: 0.4rem 2px;
	color: #eee;
	font-weight: bold;
	font-size: 1.5rem;
	font-family: "Cantarell", sans-serif;
}

a.api {
	color: #ffa16b;
}

a.api::before {
	font-family: "Arial Bold", sans-serif;
	content: "•";
	color: #ffa16b;
}

body nav * {
	line-height: unset !important;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	/*height: 150px;*/
}

footer > div.container {
	background-color: #222831;
	border-top: 5px solid rgba(0,0,0,.09) !important;
	width: 100%;
}

.span3 {
	position: -webkit-sticky;
	position: sticky;
	top: 90px;
}

.well {
	border: none;
	background-color: #222831;
}

.sidebar-nav {
	max-height: 75vh !important;
}

.field {
	background-color: #181d23;
	border: none !important;
	border-radius: 0 5px 5px 5px;
	padding: 10px;
	margin-top: 0;
}

.field + .field {
	margin-top: 2px;
	border-radius: 5px;
}

.field:hover {
	background-color: #11151a;
}

div.fields {
	margin-left: 0;
}

.doc {
	margin-left: 20px;
}

div.body .section {
	margin-top: 40px;
	margin-bottom: 0;
	padding-left: 12px;
	padding-right: 12px;
	width: max-content;

	background-color: #181d23;
	/*border: 2px solid #ff662a;*/
	border-bottom: 2px solid #ff662a;
	color: white;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.main-content {
	margin-bottom: 200px;
}

.nav-header {
	color: #eee;
}

.expanded > .nav-header {
	color: #ffa16b;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #181d23;
	color: #ffa16b;
	/*border-top-left-radius: 5px;*/
	/*border-bottom-left-radius: 5px;*/
}

.nav-list > .active > a.treeLink,
.nav-list > .active > a.treeLink:hover,
.nav-list > .active > a.treeLink:focus {
	background-color: #181d23 !important;
	color: #ffa16b !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.page-header {
	border-bottom: none !important;
}

.indent {
	border-left: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.doc-main {
	border-bottom: 2px dotted #eee;
	margin-left: 0px !important;
}

blockquote {
	padding: 10px 15px;
	border-left: 5px solid #ff662a;
	background-color: #0003;
}

blockquote p {
	font-size: 1rem;
	line-height: 1.3rem;
}

code, pre {
	background: #222831;
	color: #ccc !important;
	border: none;
	font-family: "Cascadia Code", monospace !important;
}

h3 code,
p code {
	box-shadow: none;
	background: #222831;
}

h3 code {
	padding: 8px 8px;
	margin-left: 10px;
}

pre.example:before {
	background: #36517d;
	color: #eee;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0.60);
	padding: 4px 30px;
}

code .identifier {
	color: #ccc;
	padding: 0;
}

span.identifier {
	font-weight: normal;
	color: #63c4ff;
}

code .type,
code.prettyprint > span.type {
	color: #f2524a;
}

code.prettyprint > span.val {
		color: #ead45d;
}

code.prettyprint > span.str,
pre .str .type {
		color: #8ce16d !important;
}

code.prettyprint > span.kwd {
		color: #ef7eff;
}

:target + h3.anchor > code{
	border: 2px solid #ff662a;
}

.label,
.badge {
	/*background: #154375;*/
	font-weight: normal;
	font-family: "Cascadia Code", monospace !important;
	margin-bottom: 4px;
	border-radius: 2px;
}

.label.label-meta {
	background: #63914a;
	/*display: block;*/
	display: none; /* hide for now, this shows too much metadata but overriding macro.mtt adds weird spaces everywhere*/
	width: max-content;
}

.label.label-static {
	color: #000;
	text-shadow: none;
}

.label.label-inline {
	background: #21992f;
}

.label.label-private {
	background: #8a6a0a;
}

.label.label-final {
	background: #bf3e30;
}

pre.example:before {

}

table.params {
	border-left: none;
}

table.params th {
	background: #222831;
}

.table-bordered th,
.table-bordered td {
	border-left: none;
}

.table th,
.table td {
	border-bottom: none;
}

tr.class > td, tr.package > td {
	padding-top: 8px;
	padding-bottom: 8px;
}

tr.package {
	font-weight: bold;
}

.table-bordered {
	border-collapse: collapse;
	border: none;
}

.table tr:not(:first-child) {
	border-top: 1px solid #222831;
}

.table tr:hover,
.table tr:hover > th {
	background: #00000010;
}

.table {
	width: calc(100% - 20px);
}

.doc ul {
	list-style: none;
	margin-bottom: 6px;
}

.doc li {
	line-height: 25px;
	padding-left: 0.5em;
	text-indent: -0.2em;
}

.doc ul li::before {
  content: "›";
  color: #d65a31;
  font-weight: bold;
  display: inline-block;
  width: 0.6em;
  margin-left: -0.4em;
  float: left;
}

.inline-content {
	display: inline-block;
}

.inherited-fields {
	padding-top: 30px;
	padding-bottom: 30px;
}

.inherited-fields > h3:first-child {
	margin-top: 10px;
}

input {
	background: #393e46 !important;
	color: #eee !important;
	border: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	color: #eee;
	box-shadow: none;
}
.input-append .add-on,
.input-prepend .add-on {
	border: none;
	background: #f1935c;
}

#searchForm {
	margin-bottom: 0px;
}

